
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: left;
}
#buttonContainer {
    margin-top: 50px;
}



button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    height: 195px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
button#openDialogButton {
    background-color: #28A745;
    width: 100px;
    height: 100px;
    font-size: 60px;
}


#createButton {
    height: 40px;
    width: 150px;
}

dialog {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}
#closeDialogButton{
    background-color: red;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 20px;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button#createButton {
    background-color: #17A2B8;
}

