.btn-primary {
    background-color: #ff7300;
    border: 1px solid #ff7300;
}

.btn-primary:hover {
    background-color: #d16a15;
    border: 1px solid #ff7300;
}

.text-primary {
    color: #ff7300;
    text-decoration: none;
}

.text-primary:hover {
    color: #d16a15;
    text-decoration: none;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 75%;
}

.form-group {
    display: flex;
    justify-content: center;
  }